In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
landings = pd.read_csv("Meteorite_Landings.csv")
thing = pd.read_csv("GLC03122015.csv")
fireball = pd.read_csv("Fireball_And_Bolide_Reports.csv")
comets = pd.read_csv("Near-Earth_Comets_-_Orbital_Elements.csv")

In [4]:
def analyze(dataset, cell, details = True):
    values = dataset[cell].unique()
    print(len(values))
    print(values)
    if(details):
        for value in values:
            print(value, ' -> ', len(dataset[dataset[cell]==value]))

In [5]:
# happily there is one data entry per metorite
# we can discard the name
print(len(landings["name"]))
print(len(landings["name"].unique()))

landings = landings.drop(["name", 'id'], axis = 1)
landings.head()

45716
45716

,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [6]:
#Useful
analyze(thing, "date_", False)

2148
['03/07/2011 08:00:00 AM +0000' '04/01/2008 07:00:00 AM +0000'
 '01/30/2015 08:00:00 AM +0000' ... '12/22/2009 08:00:00 AM +0000'
 '09/27/2007 07:00:00 AM +0000' '11/18/2007 08:00:00 AM +0000']

In [7]:
#Useless
analyze(thing, "time_")

3
['12/30/1899 08:00:00 AM +0000' nan '01/12/1900 08:00:00 AM +0000']
12/30/1899 08:00:00 AM +0000  ->  1268
nan  ->  0
01/12/1900 08:00:00 AM +0000  ->  1

In [8]:
analyze(thing, "hazard_typ")

2
['landslide' 'Lanslide']
landslide  ->  6787
Lanslide  ->  1

In [9]:
analyze(thing, "landslide_", False)
# TODO: Fix Landslide & landslide     rename - landslide_type

15
['Mudslide' 'Landslide' 'Complex' 'Other' 'Rock_Fall' 'Debris_Flow'
 'Rockfall' 'Snow_Avalanche' 'Unknown' 'Translational_Slide' 'mudslide'
 'Creep' 'Lahar' 'Riverbank_Collapse' 'landslide']

In [10]:
# too little to give a fuck
analyze(thing, "storm_name", False)

165
[nan 'Trami' 'Cyclone Giri' 'Hurricane Felix' '3 days of rain'
 'Cyclone Nargis' 'Hudhud' 'Typhoon Kompasu' 'and Rain'
 'Tropical Storm Richard' 'Wipha' 'Tropical Cyclone Hubert'
 'Typhoon Morakot' 'Hurricane Tomas' 'Manuel' 'Lusi' 'Kong Rey'
 'Typhoon Ketsana' 'Utor' 'Tropical Storm Olga' 'Typhoon Sinlaku'
 'Typhoon Fanapi' 'Storm Xynthia' 'Luis' 'Typhoon Sepat' 'Typhoon Megi'
 'Soulik' 'Hurricane Karl and Tropical Storm Matthew'
 'Supertyphoon Juan (Megi)' 'Typhoon Chedeng (Songda)' 'Rammasun'
 'Hurricane Beatriz' 'Santi' 'Tropical Storm Meranti'
 'Tropical Storm Tomas' 'Mangkhut' 'Tropical Storm Dodong (Sarika)'
 'Hurricane Dora' 'Cyclone Wilma' 'Tropical Storm Alma'
 'Tropical Depression Parma' 'Typhoon Ondoy (Ketsana)' 'Neoguri (Florita)'
 'Hurricane Frank' 'Haiyan' 'Tropical Cyclone Wilma' 'Toraji'
 'Tropical Cyclone Maring' 'Typhoon No. 2 and March 11th earthquake'
 'Usagi' 'Agaton' 'Hurricane Sandy' '1 hour of rain'
 'Tropical Storm Kammuri' 'Hurricane Dean' 'Typhoon Chanthu' 'Mario'
 'Kalmaegi' 'Typhoon Pepeng' 'Typhoon Hagupit' 'Ingrid' 'Manyi'
 'Typhoon Glenda (Kompasu)' 'Tropical Depression Nando'
 'Tropical Depression Nango' 'Typhoon Krosa' 'Tropical Storm Henry'
 'Tropical Storm Henrietta' 'Tropical Storm Nicole'
 'Tropical Storm Labuyo' 'Podul' 'Hurricane Gustav' 'Typhoon Jangmi'
 'Volcanic Material' 'Tropical Storm Ondoy (Ketsana)'
 'Tropical Cyclone Agatha' 'Nakri' 'Cyclone Laila' 'Hurricane Karl'
 'Tropical Storm Lando' 'Tropical Storm Mina/Mitag' 'Hurricane Lorenzo'
 'Typhoon Parma' 'Tropical Storm Otto' 'Tropical Cyclone Ida'
 'Typhoon Aure(Aere), Bebeng' 'Collapsed retaining wall' 'Hurricane Igor'
 'Tropical Storm Noel' 'Amang' 'Tropical Storm Isaac' 'Typhoon Basyang'
 'Typhoon Lekima' 'Typhoon Julian' 'Seniang' 'Typhoon Wipha' 'Mina'
 'El Nino' 'Tropical Depression Urduja' 'Typhoon Igme (Fung-Wong)'
 'Tropical Depression Dodong (Sarika)' 'Tropical Depression 16'
 'Tropical Storm Falcon' 'Tropical Storm Matthew' 'Typhoon Kiko'
 'Typhoon Fung-Wong' 'Tropical Storm Fay' 'Typhoon Mina'
 'Tropical Storm Arthur' 'Tropical Storm Kabayan' 'Tropical Storm Sandy'
 'Hurricane Hannah' 'Pablo' 'Typhoon Nangka (Feria)'
 'Two inches since Midnight' 'Typhoon Man-yi' 'Typhoon Nina'
 'Typhoon Chan-hom' 'Nilam' 'Trudy' 'Bertha' 'Tropical Storm Alex'
 'Typhoon Neoguri' 'Typhoon Nalgae (Quiel)' 'Typhoon Washin (Sendong)'
 'Hurricane Alex' 'Typhoon Conson' 'Fernand' 'Typhon Morakot (Kiko)'
 'Cyclone Aila' 'Volcanic eruptoin' 'Tropical Wave'
 'Tropical Storm Dante (Kujira)' 'Typhoon Meranti'
 'Typhoon Jangmi and Higos' 'Typhoon Karen' 'Typhoon Koppu'
 'Typhoon Fengshen' 'Tropical Storm Ambro' 'Heaviest Rain in 48 years'
 'Ivo' 'Tropical Storm Ofel' 'Tropical Storm Gustav'
 'Tropical Depression Pepeng' 'Typhoon Etau'
 'Tropical Storm Halong (Cosme)' 'Typhoon Nanmadol' 'Tropical Storm Cebu'
 'Tropical Storm Arlene' 'Typhoon Kalmaegi' 'Ruby' 'Typhoon Ramon'
 'Tropical Cyclone Quinta' 'Tropical Storm Paula' 'Winnie'
 'Hurricane Dolly' 'Typhoon No. 15' 'Andrea' 'Typhoon Mirinae'
 'Typhoon Ineng' 'Tropical Storm Irina' 'Typhoon No. 9' 'Hurricane Katia'
 'Hurricane Jimena' 'Typhoon Cosme']

In [11]:
analyze(thing, "landslide1", True)
#TODO: filter & rename - severity

10
['Medium' 'Small' 'Large' 'Very_large' 'unknown' 'large' 'medium' 'small'
 'Extra Large' nan]
Medium  ->  4851
Small  ->  1277
Large  ->  482
Very_large  ->  79
unknown  ->  26
large  ->  23
medium  ->  33
small  ->  14
Extra Large  ->  1
nan  ->  0

In [12]:
#BS
analyze(thing, "cat_src", True)

3
['glc' 'test' nan]
glc  ->  6695
test  ->  92
nan  ->  0

In [13]:
#TODO: figure out wtf distance distance means

In [14]:
#TODO: near vs nearest_pl

In [16]:
thing = thing.drop(['the_geom', "hazard_typ", 'OBJECTID', 'id', 'time_', "storm_name", 'source_nam', 'fatalities', 'injuries', 'source_lin', 'location_a', 'photos_lin', 'cat_src', 'cat_id', 'countrynam', 'adminname1', 'adminname2', 'population', 'countrycod', 'continentc', 'key_', 'version', 'user_id', 'tstamp', 'changeset_'], axis = 1)

In [17]:
thing.head()

,the_geom,date_,country,nearest_pl,landslide_,trigger,landslide1,near,distance,latitude,longitude
0,POINT (-73.40200000000006 41.55850000000008),03/07/2011 08:00:00 AM +0000,United States,Grove Street from Anderson Avenue to Hine Hill...,Mudslide,Downpour,Medium,New Milford,2.12825,41.5585,-73.4020
1,POINT (113.91710000000012 0.1115000000000351),04/01/2008 07:00:00 AM +0000,Indonesia,"Borneo, Muara",Landslide,Rain,Medium,Longnawang,215.44888,0.1115,113.9171
2,POINT (-127.69800000000009 52.35450000000008),01/30/2015 08:00:00 AM +0000,NaN,"Ocean Falls, B.C.",Mudslide,Rain,Medium,Kitimat,199.44893,52.3545,-127.6980
3,POINT (-127.50620000000009 50.70530000000013),09/24/2010 07:00:00 AM +0000,Canada,"road to Holberg, 3 km from hwy 19, Vancouver I...",Complex,Downpour,Medium,Campbell River,178.23706,50.7053,-127.5062
4,POINT (-132.41490000000013 53.331900000000125),08/31/2014 07:00:00 AM +0000,NaN,Rennell Sound Road,Mudslide,Downpour,Small,Prince Rupert,176.02202,53.3319,-132.4149