In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
landings = pd.read_csv("Meteorite_Landings.csv")
thing = pd.read_csv("GLC03122015.csv")
fireball = pd.read_csv("Fireball_And_Bolide_Reports.csv")
comets = pd.read_csv("Near-Earth_Comets_-_Orbital_Elements.csv")

In [4]:
def analyze(dataset, cell, details = True):
    values = dataset[cell].unique()
    print(len(values))
    print(values)
    if(details):
        for value in values:
            print(value, ' -> ', len(dataset[dataset[cell] == value]))

In [5]:
# happily there is one data entry per metorite
# we can discard the name
print(len(landings["name"]))
print(len(landings["name"].unique()))

landings = landings.drop(["name", 'id'], axis = 1)
landings.head()

45716
45716

,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [6]:
#Useful
analyze(thing, "date_", False)

2148
['03/07/2011 08:00:00 AM +0000' '04/01/2008 07:00:00 AM +0000'
 '01/30/2015 08:00:00 AM +0000' ... '12/22/2009 08:00:00 AM +0000'
 '09/27/2007 07:00:00 AM +0000' '11/18/2007 08:00:00 AM +0000']

In [7]:
#Useless
analyze(thing, "time_")

3
['12/30/1899 08:00:00 AM +0000' nan '01/12/1900 08:00:00 AM +0000']
12/30/1899 08:00:00 AM +0000  ->  1268
nan  ->  0
01/12/1900 08:00:00 AM +0000  ->  1

In [8]:
analyze(thing, "hazard_typ")

2
['landslide' 'Lanslide']
landslide  ->  6787
Lanslide  ->  1

In [9]:
analyze(thing, "landslide_", False)
# TODO: Fix Landslide & landslide     rename - landslide_type

15
['Mudslide' 'Landslide' 'Complex' 'Other' 'Rock_Fall' 'Debris_Flow'
 'Rockfall' 'Snow_Avalanche' 'Unknown' 'Translational_Slide' 'mudslide'
 'Creep' 'Lahar' 'Riverbank_Collapse' 'landslide']

In [10]:
# too little to give a fuck
analyze(thing, "storm_name", True)

165
[nan 'Trami' 'Cyclone Giri' 'Hurricane Felix' '3 days of rain'
 'Cyclone Nargis' 'Hudhud' 'Typhoon Kompasu' 'and Rain'
 'Tropical Storm Richard' 'Wipha' 'Tropical Cyclone Hubert'
 'Typhoon Morakot' 'Hurricane Tomas' 'Manuel' 'Lusi' 'Kong Rey'
 'Typhoon Ketsana' 'Utor' 'Tropical Storm Olga' 'Typhoon Sinlaku'
 'Typhoon Fanapi' 'Storm Xynthia' 'Luis' 'Typhoon Sepat' 'Typhoon Megi'
 'Soulik' 'Hurricane Karl and Tropical Storm Matthew'
 'Supertyphoon Juan (Megi)' 'Typhoon Chedeng (Songda)' 'Rammasun'
 'Hurricane Beatriz' 'Santi' 'Tropical Storm Meranti'
 'Tropical Storm Tomas' 'Mangkhut' 'Tropical Storm Dodong (Sarika)'
 'Hurricane Dora' 'Cyclone Wilma' 'Tropical Storm Alma'
 'Tropical Depression Parma' 'Typhoon Ondoy (Ketsana)' 'Neoguri (Florita)'
 'Hurricane Frank' 'Haiyan' 'Tropical Cyclone Wilma' 'Toraji'
 'Tropical Cyclone Maring' 'Typhoon No. 2 and March 11th earthquake'
 'Usagi' 'Agaton' 'Hurricane Sandy' '1 hour of rain'
 'Tropical Storm Kammuri' 'Hurricane Dean' 'Typhoon Chanthu' 'Mario'
 'Kalmaegi' 'Typhoon Pepeng' 'Typhoon Hagupit' 'Ingrid' 'Manyi'
 'Typhoon Glenda (Kompasu)' 'Tropical Depression Nando'
 'Tropical Depression Nango' 'Typhoon Krosa' 'Tropical Storm Henry'
 'Tropical Storm Henrietta' 'Tropical Storm Nicole'
 'Tropical Storm Labuyo' 'Podul' 'Hurricane Gustav' 'Typhoon Jangmi'
 'Volcanic Material' 'Tropical Storm Ondoy (Ketsana)'
 'Tropical Cyclone Agatha' 'Nakri' 'Cyclone Laila' 'Hurricane Karl'
 'Tropical Storm Lando' 'Tropical Storm Mina/Mitag' 'Hurricane Lorenzo'
 'Typhoon Parma' 'Tropical Storm Otto' 'Tropical Cyclone Ida'
 'Typhoon Aure(Aere), Bebeng' 'Collapsed retaining wall' 'Hurricane Igor'
 'Tropical Storm Noel' 'Amang' 'Tropical Storm Isaac' 'Typhoon Basyang'
 'Typhoon Lekima' 'Typhoon Julian' 'Seniang' 'Typhoon Wipha' 'Mina'
 'El Nino' 'Tropical Depression Urduja' 'Typhoon Igme (Fung-Wong)'
 'Tropical Depression Dodong (Sarika)' 'Tropical Depression 16'
 'Tropical Storm Falcon' 'Tropical Storm Matthew' 'Typhoon Kiko'
 'Typhoon Fung-Wong' 'Tropical Storm Fay' 'Typhoon Mina'
 'Tropical Storm Arthur' 'Tropical Storm Kabayan' 'Tropical Storm Sandy'
 'Hurricane Hannah' 'Pablo' 'Typhoon Nangka (Feria)'
 'Two inches since Midnight' 'Typhoon Man-yi' 'Typhoon Nina'
 'Typhoon Chan-hom' 'Nilam' 'Trudy' 'Bertha' 'Tropical Storm Alex'
 'Typhoon Neoguri' 'Typhoon Nalgae (Quiel)' 'Typhoon Washin (Sendong)'
 'Hurricane Alex' 'Typhoon Conson' 'Fernand' 'Typhon Morakot (Kiko)'
 'Cyclone Aila' 'Volcanic eruptoin' 'Tropical Wave'
 'Tropical Storm Dante (Kujira)' 'Typhoon Meranti'
 'Typhoon Jangmi and Higos' 'Typhoon Karen' 'Typhoon Koppu'
 'Typhoon Fengshen' 'Tropical Storm Ambro' 'Heaviest Rain in 48 years'
 'Ivo' 'Tropical Storm Ofel' 'Tropical Storm Gustav'
 'Tropical Depression Pepeng' 'Typhoon Etau'
 'Tropical Storm Halong (Cosme)' 'Typhoon Nanmadol' 'Tropical Storm Cebu'
 'Tropical Storm Arlene' 'Typhoon Kalmaegi' 'Ruby' 'Typhoon Ramon'
 'Tropical Cyclone Quinta' 'Tropical Storm Paula' 'Winnie'
 'Hurricane Dolly' 'Typhoon No. 15' 'Andrea' 'Typhoon Mirinae'
 'Typhoon Ineng' 'Tropical Storm Irina' 'Typhoon No. 9' 'Hurricane Katia'
 'Hurricane Jimena' 'Typhoon Cosme']
nan  ->  0
Trami  ->  12
Cyclone Giri  ->  1
Hurricane Felix  ->  3
3 days of rain  ->  1
Cyclone Nargis  ->  1
Hudhud  ->  3
Typhoon Kompasu  ->  1
and Rain  ->  1
Tropical Storm Richard  ->  1
Wipha  ->  1
Tropical Cyclone Hubert  ->  1
Typhoon Morakot  ->  6
Hurricane Tomas  ->  13
Manuel  ->  5
Lusi  ->  1
Kong Rey  ->  1
Typhoon Ketsana  ->  2
Utor  ->  10
Tropical Storm Olga  ->  5
Typhoon Sinlaku  ->  3
Typhoon Fanapi  ->  5
Storm Xynthia  ->  1
Luis  ->  1
Typhoon Sepat  ->  3
Typhoon Megi  ->  3
Soulik  ->  2
Hurricane Karl and Tropical Storm Matthew  ->  4
Supertyphoon Juan (Megi)  ->  33
Typhoon Chedeng (Songda)  ->  5
Rammasun  ->  1
Hurricane Beatriz  ->  1
Santi  ->  2
Tropical Storm Meranti  ->  1
Tropical Storm Tomas  ->  14
Mangkhut  ->  1
Tropical Storm Dodong (Sarika)  ->  3
Hurricane Dora  ->  5
Cyclone Wilma  ->  3
Tropical Storm Alma  ->  1
Tropical Depression Parma  ->  23
Typhoon Ondoy (Ketsana)  ->  2
Neoguri (Florita)  ->  2
Hurricane Frank  ->  2
Haiyan  ->  2
Tropical Cyclone Wilma  ->  2
Toraji  ->  5
Tropical Cyclone Maring  ->  1
Typhoon No. 2 and March 11th earthquake  ->  1
Usagi  ->  3
Agaton  ->  20
Hurricane Sandy  ->  3
1 hour of rain  ->  1
Tropical Storm Kammuri  ->  2
Hurricane Dean  ->  4
Typhoon Chanthu  ->  2
Mario  ->  3
Kalmaegi  ->  2
Typhoon Pepeng  ->  1
Typhoon Hagupit  ->  3
Ingrid  ->  5
Manyi  ->  3
Typhoon Glenda (Kompasu)  ->  1
Tropical Depression Nando  ->  1
Tropical Depression Nango  ->  1
Typhoon Krosa  ->  3
Tropical Storm Henry  ->  1
Tropical Storm Henrietta  ->  1
Tropical Storm Nicole  ->  4
Tropical Storm Labuyo  ->  2
Podul  ->  1
Hurricane Gustav  ->  4
Typhoon Jangmi  ->  2
Volcanic Material  ->  2
Tropical Storm Ondoy (Ketsana)  ->  5
Tropical Cyclone Agatha  ->  12
Nakri  ->  1
Cyclone Laila  ->  3
Hurricane Karl  ->  1
Tropical Storm Lando  ->  3
Tropical Storm Mina/Mitag  ->  2
Hurricane Lorenzo  ->  1
Typhoon Parma  ->  4
Tropical Storm Otto  ->  2
Tropical Cyclone Ida  ->  4
Typhoon Aure(Aere), Bebeng  ->  7
Collapsed retaining wall  ->  6
Hurricane Igor  ->  1
Tropical Storm Noel  ->  5
Amang  ->  2
Tropical Storm Isaac  ->  1
Typhoon Basyang  ->  2
Typhoon Lekima  ->  2
Typhoon Julian  ->  1
Seniang  ->  6
Typhoon Wipha  ->  1
Mina  ->  2
El Nino  ->  1
Tropical Depression Urduja  ->  15
Typhoon Igme (Fung-Wong)  ->  1
Tropical Depression Dodong (Sarika)  ->  2
Tropical Depression 16  ->  3
Tropical Storm Falcon  ->  4
Tropical Storm Matthew  ->  1
Typhoon Kiko  ->  1
Typhoon Fung-Wong  ->  2
Tropical Storm Fay  ->  2
Typhoon Mina  ->  1
Tropical Storm Arthur  ->  2
Tropical Storm Kabayan  ->  1
Tropical Storm Sandy  ->  1
Hurricane Hannah  ->  2
Pablo  ->  1
Typhoon Nangka (Feria)  ->  1
Two inches since Midnight  ->  1
Typhoon Man-yi  ->  1
Typhoon Nina  ->  6
Typhoon Chan-hom  ->  1
Nilam  ->  1
Trudy  ->  1
Bertha  ->  1
Tropical Storm Alex  ->  1
Typhoon Neoguri  ->  1
Typhoon Nalgae (Quiel)  ->  1
Typhoon Washin (Sendong)  ->  1
Hurricane Alex  ->  1
Typhoon Conson  ->  1
Fernand  ->  3
Typhon Morakot (Kiko)  ->  3
Cyclone Aila  ->  3
Volcanic eruptoin  ->  1
Tropical Wave  ->  1
Tropical Storm Dante (Kujira)  ->  1
Typhoon Meranti  ->  1
Typhoon Jangmi and Higos  ->  1
Typhoon Karen  ->  3
Typhoon Koppu  ->  1
Typhoon Fengshen  ->  4
Tropical Storm Ambro  ->  1
Heaviest Rain in 48 years  ->  1
Ivo  ->  1
Tropical Storm Ofel  ->  1
Tropical Storm Gustav  ->  1
Tropical Depression Pepeng  ->  1
Typhoon Etau  ->  1
Tropical Storm Halong (Cosme)  ->  3
Typhoon Nanmadol  ->  1
Tropical Storm Cebu  ->  4
Tropical Storm Arlene  ->  1
Typhoon Kalmaegi  ->  1
Ruby  ->  2
Typhoon Ramon  ->  2
Tropical Cyclone Quinta  ->  1
Tropical Storm Paula  ->  1
Winnie  ->  1
Hurricane Dolly  ->  1
Typhoon No. 15  ->  1
Andrea  ->  1
Typhoon Mirinae  ->  1
Typhoon Ineng  ->  1
Tropical Storm Irina  ->  1
Typhoon No. 9  ->  1
Hurricane Katia  ->  1
Hurricane Jimena  ->  1
Typhoon Cosme  ->  1

In [11]:
analyze(thing, "landslide1", True)
#TODO: filter & rename - severity

10
['Medium' 'Small' 'Large' 'Very_large' 'unknown' 'large' 'medium' 'small'
 'Extra Large' nan]
Medium  ->  4851
Small  ->  1277
Large  ->  482
Very_large  ->  79
unknown  ->  26
large  ->  23
medium  ->  33
small  ->  14
Extra Large  ->  1
nan  ->  0

In [12]:
#BS
analyze(thing, "cat_src", True)

3
['glc' 'test' nan]
glc  ->  6695
test  ->  92
nan  ->  0

In [13]:
thing = thing.drop(['the_geom', "hazard_typ", 'OBJECTID', 'id', 'time_', "storm_name", 'source_nam', 'fatalities', 'injuries', 'source_lin', 'location_a', 'photos_lin', 'cat_src', 'cat_id', 'countrynam', 'adminname1', 'adminname2', 'population', 'countrycod', 'continentc', 'key_', 'version', 'user_id', 'tstamp', 'changeset_', 'distance', 'near', 'nearest_pl'], axis = 1)

In [14]:
thing.rename(columns={'landslide1':'severity', 'landslide_':'landslide_type', 'date_':'date'}, inplace=True)

In [15]:
thing.head()

,date,country,landslide_type,trigger,severity,latitude,longitude
0,03/07/2011 08:00:00 AM +0000,United States,Mudslide,Downpour,Medium,41.5585,-73.4020
1,04/01/2008 07:00:00 AM +0000,Indonesia,Landslide,Rain,Medium,0.1115,113.9171
2,01/30/2015 08:00:00 AM +0000,NaN,Mudslide,Rain,Medium,52.3545,-127.6980
3,09/24/2010 07:00:00 AM +0000,Canada,Complex,Downpour,Medium,50.7053,-127.5062
4,08/31/2014 07:00:00 AM +0000,NaN,Mudslide,Downpour,Small,53.3319,-132.4149

In [16]:
analyze(thing, "severity", True)

10
['Medium' 'Small' 'Large' 'Very_large' 'unknown' 'large' 'medium' 'small'
 'Extra Large' nan]
Medium  ->  4851
Small  ->  1277
Large  ->  482
Very_large  ->  79
unknown  ->  26
large  ->  23
medium  ->  33
small  ->  14
Extra Large  ->  1
nan  ->  0

In [17]:
#analyze(thing, "trigger", True)

In [18]:
#TODO: fix duplicates 'small' 'Small'
#TODO: deal with date(timestamps) - Scaler
#TODO: fix missing values

In [19]:
thing['severity'] = thing['severity'].str.lower()
thing['trigger'] = thing['trigger'].str.lower()
thing['landslide_type'] = thing['landslide_type'].str.lower()
thing['country'] = thing['country'].str.lower().replace('unitedâ\xa0states', 'united states')
thing.head()

,date,country,landslide_type,trigger,severity,latitude,longitude
0,03/07/2011 08:00:00 AM +0000,united states,mudslide,downpour,medium,41.5585,-73.4020
1,04/01/2008 07:00:00 AM +0000,indonesia,landslide,rain,medium,0.1115,113.9171
2,01/30/2015 08:00:00 AM +0000,NaN,mudslide,rain,medium,52.3545,-127.6980
3,09/24/2010 07:00:00 AM +0000,canada,complex,downpour,medium,50.7053,-127.5062
4,08/31/2014 07:00:00 AM +0000,NaN,mudslide,downpour,small,53.3319,-132.4149

## we need to cure the unknown

In [20]:
analyze(thing, "severity", True)

7
['medium' 'small' 'large' 'very_large' 'unknown' 'extra large' nan]
medium  ->  4884
small  ->  1291
large  ->  505
very_large  ->  79
unknown  ->  26
extra large  ->  1
nan  ->  0

In [21]:
analyze(thing, "trigger", True)

16
['downpour' 'rain' 'snowfall_snowmelt' 'unknown' 'earthquake'
 'no_apparent_trigger' 'freeze_thaw' 'continuous_rain' 'construction'
 'monsoon' 'tropical_cyclone' 'mining_digging' 'dam_embankment_collapse'
 'other' 'snowfall' 'flooding']
downpour  ->  3890
rain  ->  1575
snowfall_snowmelt  ->  45
unknown  ->  338
earthquake  ->  34
no_apparent_trigger  ->  4
freeze_thaw  ->  13
continuous_rain  ->  271
construction  ->  22
monsoon  ->  70
tropical_cyclone  ->  457
mining_digging  ->  38
dam_embankment_collapse  ->  4
other  ->  12
snowfall  ->  1
flooding  ->  14

In [22]:
analyze(thing, "landslide_type", True)

13
['mudslide' 'landslide' 'complex' 'other' 'rock_fall' 'debris_flow'
 'rockfall' 'snow_avalanche' 'unknown' 'translational_slide' 'creep'
 'lahar' 'riverbank_collapse']
mudslide  ->  1480
landslide  ->  4752
complex  ->  227
other  ->  28
rock_fall  ->  60
debris_flow  ->  111
rockfall  ->  101
snow_avalanche  ->  6
unknown  ->  4
translational_slide  ->  2
creep  ->  4
lahar  ->  7
riverbank_collapse  ->  6

In [23]:
analyze(thing, "country", True)

138
['united states' 'indonesia' nan 'canada' 'peru' 'myanmar (burma)'
 'myanmar' 'new zealand' 'fiji' 'india' 'vanuatu' 'malaysia' 'tajikistan'
 'china' 'australia' 'iceland' 'pakistan' 'argentina' 'nepal' 'brazil'
 'uganda' 'kyrgyzstan' 'nicaragua' 'philippines' 'colombia' 'burma'
 'bolivia' 'kenya' 'ecuador' 'united kingdom' 'bangladesh' 'tibet'
 'papua new guinea' 'afghanistan' 'north korea' 'ethiopia' 'chile'
 'nigeria' 'taiwan' 'honduras' 'japan' 'laos' 'madagascar' 'vietnam'
 'trinidad and tobago' 'ghana' 'brunei' 'mexico' 'rwanda' 'sri lanka'
 'malawi' 'thailand' 'scottland' 'bhutan' 'portugal' 'solomons island'
 'norway' 'south africa' 'russia' 'iran' 'ireland' 'tasmania' 'guatemala'
 'azerbaijan' 'costa rica' 'south korea' 'burkina faso' 'venezuela'
 'georgia' 'jordan' 'democratic republic of congo' 'haiti' 'columbia'
 'tajkikistan' 'tanzania' 'angola' 'france' 'phillipines' 'panama'
 'bulgaria' 'slovakia' 'austria' 'albania' 'cuba' 'lebanon' 'turkey'
 'scotland' 'jamaica' 'united arab emirates' 'switzerland' 'yemen'
 'namibia' 'st vincent and the grenadines' 'sudan' 'singapore' 'armenia'
 'germany' 'us virgin islands' 'el salvador' 'puerto rico'
 'saint vincent and the grenadines' 'dominica' 'oman' 'ivory coast'
 'st. vincent and the grenadines' 'bosnia' 'bosnia and herzegovina'
 'dominican republic' 'grenada' 'greece' 'czech republic' 'macedonia'
 'spain' 'slovenia' 'gabon' 'east timor' 'italy' 'st lucia' 'romania'
 'sierra leone' 'algeria' 'barbados' 'swaziland' 'st. lucia'
 "ivory coast (cote d'ivoire)" 'guinea' 'israel' 'cameroon' 'serbia'
 'bermuda' 'paraguay' 'kashmir' 'croatia' 'canary islands' 'ukraine'
 'zambia' 'poland' 'solomon islands']
united states  ->  1449
indonesia  ->  288
nan  ->  0
canada  ->  104
peru  ->  48
myanmar (burma)  ->  25
myanmar  ->  4
new zealand  ->  88
fiji  ->  29
india  ->  893
vanuatu  ->  1
malaysia  ->  112
tajikistan  ->  11
china  ->  352
australia  ->  79
iceland  ->  2
pakistan  ->  83
argentina  ->  6
nepal  ->  321
brazil  ->  205
uganda  ->  38
kyrgyzstan  ->  6
nicaragua  ->  18
philippines  ->  555
colombia  ->  83
burma  ->  1
bolivia  ->  9
kenya  ->  44
ecuador  ->  18
united kingdom  ->  150
bangladesh  ->  34
tibet  ->  2
papua new guinea  ->  12
afghanistan  ->  10
north korea  ->  4
ethiopia  ->  1
chile  ->  10
nigeria  ->  10
taiwan  ->  52
honduras  ->  11
japan  ->  53
laos  ->  4
madagascar  ->  3
vietnam  ->  96
trinidad and tobago  ->  62
ghana  ->  5
brunei  ->  14
mexico  ->  59
rwanda  ->  4
sri lanka  ->  61
malawi  ->  1
thailand  ->  58
scottland  ->  2
bhutan  ->  19
portugal  ->  5
solomons island  ->  1
norway  ->  17
south africa  ->  17
russia  ->  11
iran  ->  6
ireland  ->  20
tasmania  ->  2
guatemala  ->  41
azerbaijan  ->  19
costa rica  ->  49
south korea  ->  10
burkina faso  ->  1
venezuela  ->  20
georgia  ->  24
jordan  ->  1
democratic republic of congo  ->  3
haiti  ->  18
columbia  ->  5
tajkikistan  ->  1
tanzania  ->  4
angola  ->  3
france  ->  7
phillipines  ->  7
panama  ->  12
bulgaria  ->  12
slovakia  ->  2
austria  ->  10
albania  ->  1
cuba  ->  3
lebanon  ->  7
turkey  ->  13
scotland  ->  1
jamaica  ->  29
united arab emirates  ->  1
switzerland  ->  6
yemen  ->  5
namibia  ->  2
st vincent and the grenadines  ->  1
sudan  ->  1
singapore  ->  1
armenia  ->  3
germany  ->  2
us virgin islands  ->  1
el salvador  ->  8
puerto rico  ->  2
saint vincent and the grenadines  ->  7
dominica  ->  14
oman  ->  1
ivory coast  ->  3
st. vincent and the grenadines  ->  2
bosnia  ->  3
bosnia and herzegovina  ->  5
dominican republic  ->  13
grenada  ->  2
greece  ->  3
czech republic  ->  3
macedonia  ->  2
spain  ->  10
slovenia  ->  1
gabon  ->  1
east timor  ->  1
italy  ->  47
st lucia  ->  1
romania  ->  3
sierra leone  ->  7
algeria  ->  1
barbados  ->  1
swaziland  ->  1
st. lucia  ->  1
ivory coast (cote d'ivoire)  ->  2
guinea  ->  2
israel  ->  2
cameroon  ->  4
serbia  ->  1
bermuda  ->  1
paraguay  ->  1
kashmir  ->  3
croatia  ->  1
canary islands  ->  1
ukraine  ->  1
zambia  ->  1
poland  ->  2
solomon islands  ->  1